apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana
spec:
  hostnames:
    - grafana.${CLUSTER_DOMAIN}
  parentRefs:
    - name: tailscale
      namespace: gateway
  rules:
    - backendRefs:
        - kind: Service
          name: grafana-service
          port: 3000
