---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: zigbee
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: zigbee-secret
    template:
      data:
        ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID }}"
        ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID }}"
        ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY }}"
        ZIGBEE2MQTT_CONFIG_MQTT_USER: "{{ .username }}"
        ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: "{{ .password }}"
  dataFrom:
    - extract:
        key: zigbee-${CLUSTER_NAME}
  data:
    - secretKey: username
      remoteRef:
        key: mqtt-${CLUSTER_NAME}-zigbee
        property: username
    - secretKey: password
      remoteRef:
        key: mqtt-${CLUSTER_NAME}-zigbee
        property: password
