---
---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: multus
spec:
  interval: 1h
  timeout: 3m0s
  url: https://angelnu.github.io/helm-charts/

---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 5m
  chart:
    spec:
      chart: multus
      version: 5.0.7
      sourceRef:
        name: multus
        kind: HelmRepository
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.2.3-thick@sha256:e93af9e533cc16ca7847aeec3b516c9b1e8891c2b95c727991e94c9b59c4970e
    cni:
      image:
        repository: ghcr.io/home-operations/cni-plugins
        tag: 1.9.0@sha256:cd462d8720f1d9867748f86f84d3b0898f935f882a5130ce47c2c037b1bd3471
      paths:
        config: /etc/cni/net.d
        bin: /opt/cni/bin
    resources:
      requests:
        cpu: 5m
      limits:
        memory: 512Mi
    hostPaths:
      netns: /var/run/netns
