---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: default
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      multus:
        type: daemonset
        initContainers:
          cni-plugins:
            image:
              repository: ghcr.io/home-operations/cni-plugins
              tag: 1.9.0@sha256:33d3631495860fdae028df9a8509a8af91b70c41142432d7832b2c7bb76cf999
        containers:
          multus:
            image:
              repository: ghcr.io/k8snetworkplumbingwg/multus-cni
              tag: v4.2.4@sha256:c3b12d1b56d7607a302ec23ececa236256bc940c04b3be5c1f39e0234398c4c9
            args:
              - --cleanup-config-on-exit=true
            resources:
              requests:
                cpu: "10m"
                memory: "96Mi"
              limits:
                memory: "512Mi"
            securityContext:
              privileged: true
    defaultPodOptions:
      hostNetwork: true
    persistence:
      etc-cni-net-d:
        type: hostPath
        hostPath: /etc/cni/net.d
        globalMounts:
          - path: /host/etc/cni/net.d
      opt-cni-bin:
        type: hostPath
        hostPath: /opt/cni/bin
        globalMounts:
          - path: /host/opt/cni/bin
    rbac:
      roles:
        multus:
          type: ClusterRole
          rules:
            - apiGroups:
                - "k8s.cni.cncf.io"
              resources:
                - "*"
              verbs:
                - "*"
            - apiGroups:
                - ""
              resources:
                - "pods"
                - "pods/status"
              verbs:
                - "get"
                - "update"
            - apiGroups:
                - ""
                - "events.k8s.io"
              resources:
                - "events"
              verbs:
                - "create"
                - "patch"
                - "update"
      bindings:
        multus:
          type: ClusterRoleBinding
          roleRef:
            identifier: multus
          subjects:
            - identifier: multus
    serviceAccount:
      multus: {}