---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: hogwarts-minecraft-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        RCON_PASSWORD: "{{ .rcon_password }}"
  dataFrom:
    - extract:
        key: hogwarts-minecraft
