---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
spec:
  interval: 5m
  chart:
    spec:
      chart: kyverno
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: kyverno-charts
      interval: 10m
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace
  test:
    enable: true
  rollback:
    recreate: true
    force: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  driftDetection:
    mode: enabled
  maxHistory: 3
  values:
    admissionController:
      replicas: 3
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
                - "v1"
              resources:
                - pods
                - secrets
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/instance: kyverno
      serviceMonitor:
        enabled: true
    backgroundController:
      rbac:
        clusterRole:
          extraResources:
            - apiGroups:
                - ""
                - "v1"
              resources:
                - pods
                - secrets
              verbs:
                - create
                - update
                - patch
                - delete
                - get
                - list
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true
    cleanupController:
      serviceMonitor:
        enabled: true
    reportsController:
      serviceMonitor:
        enabled: true
      container:
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 512Mi
