---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: frecklesystems-tls
spec:
  secretName: frecklesystems-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "freckle.systems"
  dnsNames:
    - freckle.systems
    - "*.freckle.systems"
    - "*.${CLUSTER_DOMAIN}"

---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: frecklefamily-tls
spec:
  secretName: frecklefamily-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "freckle.family"
  dnsNames:
    - freckle.family
    - "*.freckle.family"

---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: freckleservices-tls
spec:
  secretName: freckleservices-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "freckle.services"
  dnsNames:
    - freckle.services
    - "*.freckle.services"
    - "*.${CLUSTER_SVCS_DOMAIN}"

---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: media-tls
spec:
  secretName: media-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "${MEDIA_DOMAIN:-freckle.services}"
  dnsNames:
    - "${MEDIA_DOMAIN:-freckle.services}"
    - "*.${MEDIA_DOMAIN:-freckle.services}"
    - "*.${CLUSTER_MEDIA_DOMAIN:-${CLUSTER_SVCS_DOMAIN}}"
