---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app intel-gpu-resource-driver
  namespace: &namespace kube-system
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
    - name: node-feature-discovery-rules
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kubernetes/apps/devices/intel-gpu-resource-driver
  interval: 30s
  retryInterval: 1m
  timeout: 5m
  prune: true
  wait: true
