---
clusterName: fairy-k8s01
talosVersion: ${TALOS_VERSION}
kubernetesVersion: ${KUBERNETES_VERSION}
endpoint: https://10.189.2.4:6443
domain: cluster.local
allowSchedulingOnMasters: true
clusterPodNets:
  - 10.230.0.0/16
  - fd2b:ec92:e232::/48
clusterSvcNets:
  - 10.229.0.0/16
  - fd2b:ec92:e230:1::/112
cniConfig:
  name: none

nodes:
  - hostname: fairy-compute01
    ipAddress: 10.189.2.5
    controlPlane: true
    installDisk: /dev/sda

    machineSpec: &compute01-machineSpec
      mode: metal
      arch: amd64
      useUKI: true
      secureboot: true
    schematic: &compute01-schematic
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/lldpd
            - siderolabs/mei
    extensionServices:
      - &compute01-lldp-extension
        name: lldpd
        configFiles:
          - mountPath: /usr/local/etc/lldpd/lldpd.conf
            content: |
              configure lldp portidsubtype ifname
              unconfigure lldp management-addresses-advertisements
              unconfigure lldp capabilities-advertisements
              configure system description "Talos Node"

    networkInterfaces:
      - &compute01-nic0
        interface: enp1s0f0np0
        addresses:
          - 10.189.2.5/27
        routes:
          - network: 0.0.0.0/0
            gateway: 10.189.2.1
            metric: 1024
        vip:
          ip: 10.189.2.4
        dhcp: false
        mtu: 1500
        vlans:
          - &compute01-vlan300
            vlanId: 300
            mtu: 1500
            dhcp: false
            # hack...without an IP on the vlan the macvlan doesn't work
            addresses:
              - 100.64.0.1/32
    extraManifests:
      - ./watchdog.yaml

  - hostname: fairy-compute02
    ipAddress: 10.189.2.6
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - <<: *compute01-nic0
        addresses:
          - 10.189.2.6/27
        vlans:
          - <<: *compute01-vlan300
            addresses:
              - 100.64.0.2/32
    machineSpec: *compute01-machineSpec
    schematic: *compute01-schematic
    extensionServices:
      - <<: *compute01-lldp-extension
    extraManifests:
      - ./watchdog.yaml

  - hostname: fairy-compute03
    ipAddress: 10.189.2.7
    controlPlane: true
    installDisk: /dev/sda
    networkInterfaces:
      - <<: *compute01-nic0
        addresses:
          - 10.189.2.7/27
        vlans:
          - <<: *compute01-vlan300
            addresses:
              - 100.64.0.3/32
    machineSpec: *compute01-machineSpec
    schematic: *compute01-schematic
    extensionServices:
      - <<: *compute01-lldp-extension
    extraManifests:
      - ./watchdog.yaml

controlPlane:
  nodeLabels: {}
  patches:
    # Cluster configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.189.2.0/27
          extraArgs:
            listen-metrics-urls: "http://0.0.0.0:2381"
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
            node-cidr-mask-size-ipv6: 64
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0
        proxy:
          disabled: true

    # Disable search domain everywhere
    - &disableSearchDomainPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Set nameserver
    - &nameServersPatch |-
      machine:
        network:
          nameservers:
            - 1.1.1.1
            - 1.0.0.1

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:reader
              - os:admin
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade

    # Machine patches to apply to all nodes
    - &machinePatches |
      machine:
        features:
          # Configures host DNS caching resolver.
          hostDNS:
            enabled: true
            # Cilium update "broke" this so disabling it
            # * https://github.com/cilium/cilium/issues/35153
            # * https://github.com/siderolabs/talos/pull/9200
            forwardKubeDNSToHost: false
            resolveMemberNames: true
        # Configure containerd for spegel
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
                device_ownership_from_security_context = true
        sysctls:
          # Kubernetes essentials
          fs.inotify.max_user_watches: 1048576
          fs.inotify.max_user_instances: 8192
          user.max_user_namespaces: 11255

          # Network - 25Gb optimized
          net.core.default_qdisc: fq
          net.core.rmem_max: 67108864
          net.core.wmem_max: 67108864
          net.core.netdev_max_backlog: 30000
          net.ipv4.tcp_congestion_control: cubic    # bbr did not play nicely and resulted in large amounts of retransmits
          net.ipv4.tcp_fastopen: 3
          net.ipv4.tcp_rmem: 4096 131072 67108864
          net.ipv4.tcp_wmem: 4096 131072 67108864
          net.ipv4.tcp_slow_start_after_idle: 0
          net.ipv4.tcp_fin_timeout: 30
          net.ipv4.tcp_keepalive_time: 600
          net.ipv4.tcp_keepalive_intvl: 30
          net.ipv4.tcp_keepalive_probes: 10

          # NFS optimations
          sunrpc.tcp_slot_table_entries: 128
          sunrpc.tcp_max_slot_table_entries: 128

          # disable slaac on vlan interface since it's only used for multus attachments aand not the host
          # / is a control character for '.' so enp1837f68/300 becomes enp1837f68.300
          net.ipv6.conf.enp1837f68/300.autoconf: 0
          net.ipv6.conf.enp1837f68/300.accept_ra: 1
        install:
          bootloader: true
          wipe: true
        systemDiskEncryption:
          ephemeral: &fde
            provider: luks2
            keys:
              - slot: 0
                tpm: {}
          state: *fde
        kubelet:
          nodeIP:
            validSubnets:
            - 10.189.2.0/27
          extraArgs: {}
          extraConfig:
            # Let IPv6 RAs through on 'net1' for thread announcements getting to HA additional NIC
            allowedUnsafeSysctls:
              - net.ipv6.conf.net1.accept_ra_rt_info_max_plen
            # Make image cleanup more aggressive
            imageMaximumGCAge: 168h # One week
            imageGCHighThresholdPercent: 50 # Default is 85%
            imageGCLowThresholdPercent: 20  # Default is 80%
            # Equivalent of `rotate-server-certificates` arg, for one less thing
            serverTLSBootstrap: true
            clusterDNS:
              - 10.229.0.10
              - fd2b:ec92:e230:1::a
        time:
          servers:
          - time.cloudflare.com # leave it as cloudflare but the router will hijack this and respond
worker:
  patches:
    - *disableSearchDomainPatch
    - *nameServersPatch
    - *machinePatches
