# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - target:
      kind: Kustomization
      labelSelector: infra.freckle.systems/post-build-variables=enabled
    patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: all
      spec:
        postBuild:
          substituteFrom:
            - kind: ConfigMap
              name: k8s-cluster-info
            - kind: Secret
              name: k8s-cluster-secrets
            - kind: Secret
              name: namespace-post-build-secrets
              optional: true
