---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
  - ../../../../components/common
  - ../../../../components/flux-post-build-variables
resources:
  - ./bazarr.yaml
  - ./bookshelf.yaml
  - ./domains-externalsecrets.yaml
  - ./emby.yaml
  - ./plex.yaml
  - ./pocket-id.yaml
  - ./prowlarr.yaml
  - ./radarr.yaml
  - ./recyclarr.yaml
  - ./sabnzbd.yaml
  - ./seerr.yaml
  - ./sonarr.yaml
  - ./sonarr-anime.yaml
  - ./tautulli.yaml
  - ./watchstate.yaml
  - ./webhook.yaml
