---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/externaldns.k8s.io/dnsendpoint_v1alpha1.json
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: external-gw.${CLUSTER_DOMAIN}
      recordType: CNAME
      targets: ["${CLOUDFLARE_TUNNEL_ID}.cfargotunnel.com"]
