---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-system
components:
  - ../../../../components/common
  - ../../../../components/flux-post-build-variables
resources:
  - ./cloudnative-pg.yaml
  - ./barman-plugin.yaml
