---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scrypted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: default
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      scrypted:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations: {}
          securityContext:
            runAsUser: 3000
            runAsGroup: 3000
            fsGroup: 3000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/scrypted
              tag: 0.141.0@sha256:c9e82faec2e27debeba03fd8d4bdb2aa53cdaf0f3f8aa77c04312a047db4c2ea
            env:
              TZ: America/Chicago
              SCRYPTED_VOLUME: /config
              SCRYPTED_INSECURE_PORT: &port 11080
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 500m
                memory: 128Mi
              limits:
                cpu: 4000m
                memory: 8192Mi
            securityContext:
              # allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: true
              # capabilities:
              #   drop:
              #     - ALL
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: scrypted

    service:
      app:
        controller: scrypted
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${CLUSTER_DOMAIN}"]
        parentRefs:
          - name: tailscale
            namespace: gateway
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        retain: true
        suffix: "config"
