---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  interval: 15m
  path: ./kubernetes/clusters/atlantis-k8s01/apps
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      CLUSTER_NAME: "atlantis-k8s01"
      CLUSTER_DOMAIN: "atlantis.freckle.systems"
      CLUSTER_SVCS_DOMAIN: "atlantis.freckle.services"
