---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app qbittorrent
  namespace: &namespace downloaders
  labels:
    infra.freckle.systems/post-build-variables: enabled
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/media/qbittorrent
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
  patches:
    - target:
        kind: HelmRelease
      patch: |-
        - op: replace
          path: /spec/values/persistence/media
          value:
            existingClaim: store01-downloads
            globalMounts:
              - path: /store01/downloads/qbittorrent
                subPath: qbittorrent

        - op: replace
          path: /spec/values/defaultPodOptions/securityContext/runAsUser
          value: 943
        - op: replace
          path: /spec/values/defaultPodOptions/securityContext/runAsGroup
          value: 943
        - op: replace
          path: /spec/values/defaultPodOptions/securityContext/fsGroup
          value: 943

        - op: add
          path: /spec/values/defaultPodOptions/labels
          value:
            vpn.egress.home.arpa/required: "true"

        - op: add
          path: /spec/values/defaultPodOptions/annotations
          value:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "vpn-routed",
                "namespace": "downloaders",
                "ips": ["10.66.1.10/24", "fd66::1:10/112"],
                "mac": "ae:98:3e:4e:b2:2a"
              }]
