---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana-operator
spec:
  interval: 30m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.21.3
  url: oci://ghcr.io/grafana/helm-charts/grafana-operator
  # verify:
  #   provider: cosign
  #   matchOIDCIdentity:
  #     - issuer: "^https://token.actions.githubusercontent.com$"
  #       subject: "^https://github.com/grafana/grafana-operator/.*$"
---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: grafana-operator
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    serviceMonitor:
      enabled: true
