---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app wg-server-configs
  namespace: &namespace wg
  labels:
    infra.freckle.systems/post-build-variables: enabled
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: wg-secrets
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kubernetes/clusters/tortuga-k8s01/apps/wg/configs/wg-server
  interval: 30s
  retryInterval: 1m
  timeout: 5m
  prune: true
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: wg-server-secrets
