---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app rtl-autodiscovery
  namespace: &namespace home-automation
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: mosquitto
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./apps/home-automation/rtl_433/autodiscovery
  interval: 2m
  retryInterval: 1m
  timeout: 5m
  prune: true
  wait: true
  patches:
    - target:
        kind: ExternalSecret
      patch: |-
        - op: replace
          path: /spec/data/0/remoteRef/key
          value: mqtt-fairy-house-rtl-autodiscovery
        - op: replace
          path: /spec/data/1/remoteRef/key
          value: mqtt-fairy-house-rtl-autodiscovery
    - target:
        kind: Deployment
      patch: |
        - op: add
          path: /spec/template/spec/containers/0/env
          value:
            - name: MQTT_HOST
              value: mosquitto
            - name: MQTT_USERNAME
              valueFrom:
                secretKeyRef:
                  key: username
                  name: rtl-mqtt-autodiscovery-mqtt-creds
            - name: MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: rtl-mqtt-autodiscovery-mqtt-creds
