apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-store01-vault01-media
spec:
  capacity:
    storage: 5Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    name: store01-vault01-media
    namespace: media
  nfs:
    path: /mnt/vault01/media
    server: 10.189.2.65
    readOnly: false

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: store01-vault01-media
  namespace: media
spec:
  volumeName: media-store01-vault01-media
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Ti
