---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tailscale-proxyclass
  namespace: &namespace tailscale
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: tailscale-operator
      namespace: tailscale
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kubernetes/apps/networking/tailscale-operator/proxyclass
  interval: 30s
  retryInterval: 1m
  timeout: 5m
  prune: true
  wait: true
