---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      pocket-id:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          pocket-id:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v1.15.0@sha256:92a5624ea14dc96e91ef236950d4d858e97119ce811075648ffd8343e364735d
            command: ["/app/pocket-id"]
            env:
              ANALYTICS_DISABLED: "true"
              APP_URL: https://freckle.id
              DB_CONNECTION_STRING: file:/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
              HOST: "0.0.0.0"
              TRUST_PROXY: true
              TZ: America/Central
              GEOLITE_DB_PATH: /data/GeoLite2-City.mmdb
              KEYS_PATH: /data/keys
              UPLOAD_PATH: /data/uploads
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 1411
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: Always
    service:
      pocket-id:
        controller: pocket-id
        ports:
          http:
            port: 80
            targetPort: 1411
    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        retain: true
        globalMounts:
          - path: /data
      var:
        type: emptyDir
        sizeLimit: 1Gi
    route:
      pocket-id:
        hostnames:
          - "freckle.id"
        parentRefs:
          - name: external-gw
            namespace: gateway
        rules:
          - backendRefs:
              - identifier: app
                port: 80
