---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../../../components/common
  - ../../../../components/flux-post-build-variables
resources:
  - ./generic-device-plugin.yaml
  - ./kubelet-csr-approver.yaml
  - ./metrics-server.yaml
  - ./reflector.yaml
  - ./reloader.yaml
