---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emby
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: default
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      emby:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/emby
              tag: 4.9.1.90@sha256:31448f230530fbeac1164fa3bee775cdc3fb8434cfdda3ce9edcb5e4ee523033
            env:
              TZ: America/Chicago
            ports:
              - containerPort: 8096
                name: http
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /web/index.html
                    port: http
                  initialDelaySeconds: 0
                  timeoutSeconds: 1
                  # this gives us 150s (5*30) to start then liveness and readiness checks begin
                  periodSeconds: 5
                  failureThreshold: 30
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /web/index.html
                    port: http
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              limits:
                cpu: 8
                memory: 10Gi
              requests:
                cpu: 1
                memory: 1Gi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: emby
      securityContext:
        runAsNonRoot: true
        runAsUser: 3000
        runAsGroup: 3000
        fsGroup: 3000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
    service:
      app:
        controller: emby
        ports:
          http:
            port: 80
            targetPort: 8096
          emby:
            port: 8920
            targetPort: 8920
          discovery:
            port: 7359
            protocol: UDP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_MEDIA_DOMAIN}"
        parentRefs:
          - name: media-public
            namespace: gateway
        rules:
          - backendRefs:
              - identifier: app
                port: 80
      ts:
        hostnames: ["{{ .Release.Name }}.${CLUSTER_DOMAIN}"]
        parentRefs:
          - name: tailscale
            namespace: gateway
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 100Gi
        retain: true
        suffix: "config"
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      transcode:
        type: emptyDir
        globalMounts:
          - path: /transcode
      media:
        type: emptyDir
        globalMounts:
          - path: /media
