apiVersion: apps/v1
kind: Deployment
metadata:
  name: golink
spec:
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - image: ghcr.io/tailscale/golink:main@sha256:3b59e47e7a051c3659ea8d15c471e8f99dab10cfd7693cedb4eba211d2493e52
          name: golink
          command:
            - "/golink"
          args:
            - "-sqlitedb"
            - "/home/nonroot/golink.db"
          volumeMounts:
            - name: data
              mountPath: /home/nonroot
          resources: {}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: golink-data
