---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: authentik
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 2025.12.4
  url: oci://ghcr.io/goauthentik/helm-charts/authentik

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: authentik
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: authentik-values
      valuesKey: secret-key
      targetPath: authentik.secret_key
    - kind: Secret
      name: authentik-values
      valuesKey: email-username
      targetPath: authentik.email.username
    - kind: Secret
      name: authentik-values
      valuesKey: email-password
      targetPath: authentik.email.password
    - kind: Secret
      name: authentik-values
      valuesKey: postgres-password
      targetPath: authentik.postgresql.password
    - kind: Secret
      name: authentik-values
      valuesKey: postgres-password
      targetPath: postgresql.auth.password

  values:
    authentik:
      error_reporting:
        enabled: false

      email:
        from: "Freckle ID <no-reply@freckle.id>"
        host: smtp.mailgun.org
        port: 587
        use_tls: true

    server:
      annotations:
        reloader.stakater.com/auto: "true"
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
      route:
        main:
          enabled: true
          hostnames:
            - "freckle.id"
          parentRefs:
            - name: external
              namespace: gateway

    global:
      volumeMounts:
        - name: ldap-atlantis-tls
          mountPath: /certs
          readOnly: true
      volumes:
        - name: ldap-atlantis-tls
          secret:
            secretName: ldap-atlantis-tls
            items:
              - key: tls.crt
                path: ldap-atlantis.pem
              - key: tls.key
                path: ldap-atlantis.key
    postgresql:
      enabled: true

    redis:
      enabled: true
