[Interface]
Address = 10.66.0.2/32, fd66::0:2/128
PrivateKey = $${WG_PRIVATE_KEY}
Table = off
# IPv4 routes
PostUp = ip route add 10.66.0.0/24 dev wg0
PostUp = ip rule add from 10.66.1.0/24 table 100 priority 100
PostUp = ip route add default dev wg0 table 100
# IPv6 routes
PostUp = ip -6 route add fd66::/64 dev wg0
PostUp = ip -6 rule add from fd66::1:0/112 table 100 priority 100
PostUp = ip -6 route add default dev wg0 table 100
# Cleanup
PostDown = ip route del 10.66.0.0/24 dev wg0
PostDown = ip rule del from 10.66.1.0/24 table 100 priority 100
PostDown = ip route del default dev wg0 table 100
PostDown = ip -6 route del fd66::/64 dev wg0
PostDown = ip -6 rule del from fd66::1:0/112 table 100 priority 100
PostDown = ip -6 route del default dev wg0 table 100

[Peer]
PublicKey = $${WG_PEER_TORTUGA_PUBKEY}
PresharedKey = $${WG_PEER_TORTUGA_PSK}
Endpoint = $${WG_PEER_TORTUGA_ENDPOINT}
AllowedIPs = 0.0.0.0/0, ::/0
PersistentKeepalive = 25
