---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tailscale-operator
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.92.5
  url: oci://ghcr.io/home-operations/charts-mirror/tailscale-operator
  verify:
    provider: cosign
    matchOIDCIdentity:
      - issuer: "^https://token.actions.githubusercontent.com$"
        subject: "^https://github.com/home-operations/charts-mirror.*$"
---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    operatorConfig:
      hostname: ${CLUSTER_NAME:=k8s-operator}
      defaultTags:
        - "tag:${CLUSTER_NAME:=k8s-operator}"
    apiServerProxyConfig:
      mode: "true"
    ingressClass:
      enabled: true
    proxyConfig:
      defaultProxyClass: tailscale-tun
      defaultTags: "tag:${CLUSTER_NAME:=k8s}"
