---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../apps/media/qbittorrent
patches:
  - target:
      kind: HelmRelease
    patch: |-
      - op: replace
        path: /metadata/name
        value: qbt-ink
      - op: replace
        path: /spec/values/persistence/media
        value:
          existingClaim: store01-downloads
          globalMounts:
            - path: /store01/downloads/qbt-ink
              subPath: qbt-ink

      - op: replace
        path: /spec/values/defaultPodOptions/securityContext/runAsUser
        value: 943
      - op: replace
        path: /spec/values/defaultPodOptions/securityContext/runAsGroup
        value: 943
      - op: replace
        path: /spec/values/defaultPodOptions/securityContext/fsGroup
        value: 943

      # Attach VXLAN VPN overlay network
      - op: add
        path: /spec/values/defaultPodOptions/annotations
        value:
          k8s.v1.cni.cncf.io/networks: '[{"name": "vxlan-vpn", "namespace": "kube-system", "ips": ["10.66.5.11/24", "fd66:5::11/64"]}]'

      # LoadBalancer service for transfer port
      - op: add
        path: /spec/values/service/transfer-port
        value:
          controller: qbittorrent
          type: LoadBalancer
          ipFamilyPolicy: PreferDualStack
          labels:
            ipam.freckle.systems/lb-pool: internal
          ports:
            transfer-port:
              port: 54182
              protocol: TCP

      - op: replace
        path: /spec/values/controllers/qbittorrent/containers/app/env/QBT_TORRENTING_PORT
        value: 54182
      - op: replace
        path: /spec/values/controllers/qbittorrent/containers/app/ports
        value:
          - name: transfer-tcp
            containerPort: 54182
            hostPort: 54182
            protocol: TCP
          - name: transfer-udp
            containerPort: 54182
            hostPort: 54182
            protocol: UDP

      - op: replace
        path: /spec/values/persistence/config/suffix
        value: config
