---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: frecklevision-tls
spec:
  secretName: frecklevision-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "freckle.vision"
  dnsNames:
    - freckle.vision
    - "*.freckle.vision"

---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: freckleid-tls
spec:
  secretName: freckleid-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "freckle.id"
  dnsNames:
    - freckle.id
