---
# yaml-language-server: $schema=https://k8s-schemas.freckle.systems/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app gateway
  namespace: &namespace gateway
  labels:
    infra.freckle.systems/post-build-variables: enabled
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  targetNamespace: *namespace
  path: ./kubernetes/apps/networking/gateway
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  patches:
    - target:
        kind: Gateway
        name: external
      patch: |-
        - op: add
          path: /spec/infrastructure
          value:
            labels:
              gateway.freckle.systems/dns: cloudflare
              ipam.freckle.systems/lb-pool: public
