---
name: Image Pull

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  filter:
    name: Image Pull - Filter
    runs-on: ubuntu-latest
    outputs:
      changed-files: ${{ steps.changed-files.outputs.changed_files }}
    steps:
      - name: Get Changed Files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@1a5aeab1bfa64d0c4e786f501d5a3f1fad4a24da # v0.4.1
        with:
          patterns: |-
            .github/workflows/flux-local.yaml
            kubernetes/**/*
            apps/**/*

  clusters:
    if: ${{ needs.filter.outputs.changed-files != '[]' }}
    needs: filter
    name: Flux Local - Cluster List
    runs-on: ubuntu-latest
    outputs:
      cluster-list: ${{ steps.list.outputs.clusters }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - id: list
        name: Get Cluster List
        working-directory: ./kubernetes/clusters
        run: |
          echo "clusters=$(ls -d * | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}

  pull:
    if: ${{ needs.filter.outputs.changed-files != '[]' }}
    needs: [filter, clusters]
    name: Cluster
    strategy:
      matrix:
        cluster: ${{ fromJSON(needs.clusters.outputs.cluster-list) }}
      fail-fast: false
    uses: ./.github/workflows/image-pull-extract-pull.yaml
    with:
      cluster: ${{ matrix.cluster }}
      runner: ${{ matrix.cluster }}-infra-runner

  success:
    if: ${{ !cancelled() }}
    needs: pull
    name: Image Pull - Success
    runs-on: ubuntu-latest
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: All jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
