---
name: Schemas Extract

on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
      runner:
        description: "The runner to perform the schema extraction on"
        required: true
        type: string

env:
  UV_SYSTEM_PYTHON: "1"

jobs:
  extract:
    name: Schemas - Extract
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: false

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14.x

      - name: Install Python Dependencies
        run: uv pip install pyyaml

      - name: Run crd-extractor
        run: curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/Utilities/crd-extractor.sh | bash

      - name: Upload Schemas Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: schemas-${{ inputs.cluster }}
          path: /home/runner/.datree/crdSchemas
          retention-days: 1
